{% extends 'base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% load static %}
<style>
    .nav-bar {
      position: absolute;
          width: 100%;
          height: 66px;
          left: 0px;
          top: 0px;
          
          background: #142930;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    .topnav-right {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: white;
    }
    .topnav-mid{
        color : #FFFFE7;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;        
    }
    .custom-container {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    body{
        background-color: #134D52;
    }

    .left-menu{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 280px;
        height: 688px;
        /* Banana 100 */
        background: #FFFFE7;
    }

    .all-reports{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        gap: 8px;
        width: 240px;
        height: 44px;
        background: #142930;
        border-radius: 8px;
    }
    .report{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        gap: 8px;
        width: 240px;
        height: 44px;
        background: rgba(19, 77, 82, 0.3);
        border-radius: 8px;
    }
    .a{
        width: 121px;
        height: 19px;
        /* B2 */
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */
        display: flex;
        align-items: center;
        text-align: center;
        /* White */
        color: #FFFFFF;
    }
    .b{
        width: 159px;
        height: 19px;
        /* B2 */
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */
        display: flex;
        align-items: center;
        text-align: center;
        /* Firefly 400 */
        color: #142930;
    }
    .c{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        gap: 8px;
        width: 240px;
        height: 44px;
        border-radius: 8px;
        background: #BBFFC8;
    }
</style>

<body>
<nav class="nav-bar" >
        <div class="container custom-container" style="margin-top: 1em;">
            <img src="https://i.ibb.co/rcj0J5N/nn.png" class="mr-3 h-6 sm:h-9 " alt="Pusat Pengaduan Logo">

            <a class="nav-link topnav-mid" >User Dashboard</a>    
            <div class="topnav-right d-flex align-items-center ">
                <svg style ="margin-bottom :0.3em;" width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 3.5C9.5 4.88071 8.38071 6 7 6C5.61929 6 4.5 4.88071 4.5 3.5C4.5 2.11929 5.61929 1 7 1C8.38071 1 9.5 2.11929 9.5 3.5ZM0.518945 15C0.774257 11.6438 3.57839 9 7 9C10.4216 9 13.2257 11.6438 13.4811 15H0.518945Z" fill="#111827" stroke="#FFFFE7"/>
                </svg>
                <a class = "nav-link" style="color : white; margin-left:1em;"> Dashboard User</a>
            </div>
            <button style="background-color:#FDEFB8;">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 8.5L15.59 9.91L17.17 11.5H9V13.5H17.17L15.59 15.08L17 16.5L21 12.5L17 8.5ZM5 5.5H12V3.5H5C3.9 3.5 3 4.4 3 5.5V19.5C3 20.6 3.9 21.5 5 21.5H12V19.5H5V5.5Z" fill="black"/>
                    </svg>
                    
            </button>
        </div>
</nav>

<div class= "container custom-container" >
    <div class="left-menu"> 
        <button class="all-reports" type="button" style="z-index: 3; margin-top: 10em; margin-left:0.5em;" onclick="show_all()">
            <div class="a">Semua Laporan</div>
            <div><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.6241 11.1326V5.2993C17.6241 4.37882 16.8779 3.63263 15.9575 3.63263H5.95747C5.03699 3.63263 4.2908 4.37882 4.2908 5.2993V11.1326M17.6241 11.1326V15.2993C17.6241 16.2198 16.8779 16.966 15.9575 16.966H5.95747C5.03699 16.966 4.2908 16.2198 4.2908 15.2993V11.1326M17.6241 11.1326H15.4693C15.2483 11.1326 15.0363 11.2204 14.8801 11.3767L12.8682 13.3886C12.7119 13.5448 12.5 13.6326 12.279 13.6326H9.63598C9.41497 13.6326 9.203 13.5448 9.04672 13.3886L7.03488 11.3767C6.8786 11.2204 6.66664 11.1326 6.44562 11.1326H4.2908" stroke="#FFFFE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></div>
        </button>
        <button class ="report" type="buttton" style ="z-index: 1; margin-top: 14em; margin-left: -15.7em;" onclick="show_belum()">
            <div class="b"> Laporan Ditangguhkan</div>
            <div style = "box-sizing: border-box; width: 20px; height: 20px; background: #D1BFFA; border: 2px solid #000000; border-radius: 7px;"></div>
        </button>
        <button class ="report" type="buttton" style ="z-index: 1; margin-top: 18em; margin-left: -15.7em;" onclick ="show_sedang()">
            <div class="b">Laporan Diproses</div>
            <div style="box-sizing: border-box; width: 20px; height: 20px; background: #FDEFB8; border: 2px solid #000000; border-radius: 7px;"></div>
        </button>
        <button class ="report" type="buttton" style ="z-index: 1; margin-top: 22em; margin-left: -15.7em;" onclick="show_sudah()">
            <div class="b">Laporan Terselesaikan</div>
            <div style="box-sizing: border-box; width: 20px; height: 20px; background: #BBFFC8; border: 2px solid #000000; border-radius: 7px;"></div>
        </button>
        <button class ="report" type="buttton" style ="z-index: 1; margin-top: 26em; margin-left: -15.7em;" onclick="show_sudah()">
            <div class="b">Laporan Ditolak</div>
            <div style="box-sizing: border-box; width: 20px; height: 20px; background: red; border: 2px solid #000000; border-radius: 7px;"></div>
        </button>
        <button class ="c" type="buttton"onclick="location.href='{% url 'submission_form:create_report' %}';" style ="z-index: 1; margin-top: 30em; margin-left: -15.7em;">
            <div class="b">Buat Laporan</div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H16M16 12L12.5 8.5M16 12L12.5 15.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
    
        </button>
    </div>
    <!-- {%for report in data%}
    <div class="card flex justify-center  hover:scale-105 transition-all">
        <div class="card-header">
          {{data.status}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{data.title}}</h5>
          <p class="card-text">{{data.content}}</p>
        </div>
    </div>
    {% endfor %} -->
    <div class ="container" id="container">

    </div>
    <!-- <div class="card flex justify-center  ">
        <div class="card-header" style ="background: #D1BFFA;">
          Laporan Ditangguhkan
        </div>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Content fefjenfje nf njenfj jen jenjf njenf jn fjen jenfejn fnejn j</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Instansi Terkait :</li>
            <li class="list-group-item">Pihak yang Terlibat</li>
            <li class="list-group-item">Lokasi</li>
          </ul>
        </div>
    </div>
    <div class="card flex justify-center  hover:scale-105 transition-all ">
        <div class="card-header" style ="background: #FDEFB8;">
          Laporan Diproses
        </div>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Content bla bal bla bla bla</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Instansi Terkait :</li>
            <li class="list-group-item">Pihak yang Terlibat</li>
            <li class="list-group-item">Lokasi</li>
          </ul>
        </div>
    </div>
    <div class="card flex justify-center  hover:scale-105 transition-all ">
            <div class="card-header" style ="background: #BBFFC8;">
              Laporan Terselesaikan
            </div>
            <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="card-text">Content</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Instansi Terkait :</li>
                <li class="list-group-item">Pihak yang Terlibat</li>
                <li class="list-group-item">Lokasi</li>
              </ul>
            </div>
    </div>
    <div class="card flex justify-center  hover:scale-105 transition-all ">
        <div class="card-header" style ="background: #BBFFC8;">
          Laporan Terselesaikan
        </div>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Content</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Instansi Terkait :</li>
            <li class="list-group-item">Pihak yang Terlibat</li>
            <li class="list-group-item">Lokasi</li>
          </ul>
        </div>
</div> -->
</div>

</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    function show_all(){
    $.get("/dashboard_user/Laporan/", function(data){
        $("#container").html("")
        for(let i = 0; i < data.length; i++){
            let d = new Date(data[i].fields.date.substring(0,10));
            const date = d.toDateString()
            $("#container").append(`<div class="card bg-primary text-primary-content">
<div class="card-body">
<h2 class="card-title">${data[i].fields.title}</h2>
<ol class="list-disc">
<li>Added : ${date}</li>
<li>Instansi yang terkait : ${data[i].fields.instituion}</li>
<li>Pihak yang terlibat : ${data[i].fields.involved_party}</li>
<li>Lokasi : ${data[i].fields.location}</li>
</ol>
</div>
<div class="card-actions justify-end">
</div>
</div>`)
        }
    })
}
function show_belum(){
    $.get("/dashboard_user/BelumDitangani/", function(data){
        $("#container").html("")
        for(let i = 0; i < data.length; i++){
            let d = new Date(data[i].fields.date.substring(0,10));
            const date = d.toDateString()
            $("#container").append(`<div class="card bg-primary text-primary-content">
<div class="card-body">
<h2 class="card-title">${data[i].fields.title}</h2>
<ol class="list-disc">
<li>Added : ${date}</li>
<li>Instansi yang terkait : ${data[i].fields.instituion}</li>
<li>Pihak yang terlibat : ${data[i].fields.involved_party}</li>
<li>Lokasi : ${data[i].fields.location}</li>
</ol>
</div>
<div class="card-actions justify-end">
</div>
</div>`)
        }
    })
}
function show_sedang(){
    $.get("/dashboard_user/SedangDitangani/", function(data){
        $("#container").html("")
        for(let i = 0; i < data.length; i++){
            let d = new Date(data[i].fields.date.substring(0,10));
            const date = d.toDateString()
            $("#container").append(`<div class="card bg-primary text-primary-content">
<div class="card-body">
<h2 class="card-title">${data[i].fields.title}</h2>
<ol class="list-disc">
<li>Added : ${date}</li>
<li>Instansi yang terkait : ${data[i].fields.instituion}</li>
<li>Pihak yang terlibat : ${data[i].fields.involved_party}</li>
<li>Lokasi : ${data[i].fields.location}</li>
</ol>
</div>
<div class="card-actions justify-end">
</div>
</div>`)
        }
    })
}

function show_sudah(){
    $.get("/dashboard_user/SudahDitanangi/", function(data){
        $("#container").html("")
        for(let i = 0; i < data.length; i++){
            let d = new Date(data[i].fields.date.substring(0,10));
            const date = d.toDateString()
            $("#container").append(`<div class="card bg-primary text-primary-content">
<div class="card-body">
<h2 class="card-title">${data[i].fields.title}</h2>
<ol class="list-disc">
<li>Added : ${date}</li>
<li>Instansi yang terkait : ${data[i].fields.instituion}</li>
<li>Pihak yang terlibat : ${data[i].fields.involved_party}</li>
<li>Lokasi : ${data[i].fields.location}</li>
</ol>
</div>
<div class="card-actions justify-end">
</div>
</div>`)
        }
    })
}
$(document).ready(function(){
      show_all();
  });

</script>
{% endblock content %}


