{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="wrapper">
    <div class="logo">
        <img  src="https://i.postimg.cc/YjKpG3qm/task.png">
    </div>
    <div class="text-center mt-4 name">
        Login
    </div>
    <form class="p-3 mt-3" method="POST">
        <div class="form-field d-flex align-items-center">
        {% csrf_token %}
            <span class="far fa-user"></span>
            <input type="text" name="email" placeholder="email" class="form-control">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
        <br>
        Daftar sebagai User <a href="{% url 'login:register_user' %}">Buat Akun</a>
        <br>
        Daftar sebagai Admin <a href="{% url 'login:register_admin' %}">Buat Akun</a>
    </form>
</div>

{% endblock content %}